/* html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
} */

.tableContainer {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px 0;
}

.topPanal {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.searchInput {
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

.selactInput {
  width: 55px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
}

.totalRowcount {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.tableHeader {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 3px 12px;
}

.tableRow {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 5px 12px;
  text-align: center;
}

.tableRow:nth-child(1) {
  width: 150px;
}

.sortable {
  cursor: pointer;
  user-select: none;
}

.paginationPanel {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  width: 30px;
  height: 30px;
  margin: 2px;
}

.paginationText {
  margin: 0px 10px;
}

.paginationInputContainer {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.paginationInput {
  width: 50px;
  height: 30px;
  margin: 2px;
  font-size: 14px;
  text-align: center;
}
