.productDetailContainer {
}
.inputContainer {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 24px;
  padding: 15px;
}

.addProductContainer {
  display: flex;
  flex-direction: column;
}

.addProductTitle {
  background-color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(219, 219, 219);
  margin: 10px;
  display: flex;
}

.inputCell {
  width: 300px;
  height: 30px;
  margin-left: 10px;
  font-size: 24px;
}

.categoryContainer {
  background-color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(219, 219, 219);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.addCategoryBtn {
  border: none;
  background-color: rgb(77, 24, 127);
  padding: 4px 15px;
  border-radius: 6px;
  margin: 0 0 0 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.addProductBtn {
  border: none;
  background-color: rgb(77, 24, 127);
  padding: 6px 15px;
  border-radius: 6px;
  margin: 0 0 0 25px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.tableContainer {
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(219, 219, 219);
  margin: 0 10px;
}
