.alertModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  width: 100%;
  padding: 30px;
  background-color: white;
}

.alertModalTitle {
  text-align: center;
  font-size: 14px;
  line-height: 200%;
  font-weight: 900;
  margin-top: 0px;
  padding: 20px 40px;
  color: rgb(53, 110, 112);
}

.modalButton {
  background-color: rgb(53, 110, 112);
  color: white;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
