.statsContainer {
  background-color: white;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgb(219, 219, 219);
  margin: 10px;
  display: flex;
  flex-direction: column;
}
