.sidebarContainer {
  background-color: rgb(108, 108, 175);
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menusContainer {
  display: flex;
  align-items: center;
}

.menusItem {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
