.tableContainer {
  display: flex;
  flex-direction: column;
}

.topPanal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightTopPanal {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 16px;
}

.leftTopPanal {
  display: flex;
  align-items: center;
}

.searchInput {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  padding-left: 5px;
}

.selactInput {
  width: 45px;
  height: 23px;
  margin-right: 5px;
  font-size: 16px;
}

.totalRowcount {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.tableHeader {
  background-color: rgb(206, 206, 243);
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 3px 8px;
  font-size: 16px;
}

.tableHeader:nth-child(1) {
  width: 50px;
}
.tableHeader:nth-child(1) > div:nth-child(2) > input {
  width: 40px;
  border: none;
  outline: none;
}

.tableRow {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 5px 12px;
  text-align: center;
  font-size: 16px;
}

.sortable {
  cursor: pointer;
  user-select: none;
}

.paginationPanel {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.paginationText {
  margin: 0px 10px;
  font-size: 16px;
}

.paginationInputContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.paginationInput {
  width: 40px;
  height: 20px;
  margin: 2px;
  font-size: 16px;
  text-align: center;
}
